@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f6f0eb;
}

.app-container {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background-color: #ffffff;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

li {
  list-style: none;
}

a {
  color: #492118;
  text-decoration: none;
}

ul li a {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  color: #492118;
  text-decoration: none;
  transition: color 0.8s ease;
}

ul li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -4px;
  background-color: #492118;
  transition: width 0.8s ease;
}

ul li a:hover {
  color: #b95e44;
}

ul li a:hover::after {
  width: 100%;
}

.logo {
  width: 46px;
}

.logo img {
  width: 100%;
}

.hamburger-bar {
  display: none;
}

.bars {
  font-size: 22px;
  cursor: pointer;
}

.cross-icon {
  display: none;
}

.fa-x {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  font-size: 16px;

  cursor: pointer;
}

.hero-section {
  max-width: 1200px;
  margin: 80px auto;
}

.hero-section img {
  width: 100%;
  padding-inline: 50px;
}

.hero-section .promo-headline {
  font-size: 24px;
  text-align: center;
  color: #492118;
  margin-block: 10px;
}

section {
  max-width: 1040px;
  margin: 120px auto;
}

.heading {
  font-size: 3rem;
  color: #492118;
  text-align: center;
}

section img {
  width: 100%;
  padding-inline: 80px;
  margin-top: 30px;
}

.top {
  font-size: 32px;
  font-weight: 700;
  padding-inline: 80px;
  text-decoration: underline;
  display: flex;
  justify-content: flex-end;
  margin-top: -30px;
}
@media (max-width: 1050px) {
  header {
    padding-inline: 30px;
  }

  .logo {
    width: 40px;
  }

  nav ul {
    gap: 24px;
  }

  ul li a {
    font-size: 18px;
  }
}

@media (max-width: 880px) {
  header {
    padding-inline: 24px;
  }

  nav ul {
    gap: 20px;
  }

  ul li a {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  header {
    background-color: #f6f0eb;
  }
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    align-items: flex-start;
    font-size: 12px;
    gap: 0;
    background-color: #ffffffbf;
    padding: 20px;
    margin: 16px 24px;
  }

  nav ul.mobile {
    display: flex;
  }

  li {
    margin-block: 6px;
  }

  .hamburger-bar {
    display: flex;
  }

  .hamburger-bar.disabled {
    display: none;
  }

  .cross-icon {
    display: flex;
  }

  .heading {
    font-size: 2rem;
    color: #492118;
    text-align: center;
  }

  section {
    max-width: 1040px;
    margin: 40px auto;
  }

  .hero-section .promo-headline {
    font-size: 18px;
    margin-block: 8px;
  }
  
  .top {
    font-size: 24px;
    margin-top: -10px;
  }


.hero-section {
    margin: 20px auto;
}
}

@media (max-width: 468px){
  .top {
    font-size: 20px;
  }

  .hero-section .promo-headline {
    font-size: 14px;
    margin-block: 4px;
}

.hero-section img {
  width: 100%;
  padding-inline: 30px;
}

section img {
  width: 100%;
  padding-inline: 40px;
  margin-top: 20px;
}
}
